@keyframes count-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.count-up {
  animation: count-up 1s ease-out;
}

/* accesability  NAGISH-le style*/
#NagishLiBarStrip {
  border-radius: 15px;
  background-color: white !important;
  position: absolute;
  bottom: 0em;
  right: 0;
}
#NagishLiMenus {
}
#NagishLiMove {
  display: none;
}
#NagishLiTitle {
  display: none;
}

.rtl {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.bg-halftone {
  z-index: 10;
  background-image: url("assets/design-01j8d0dnk3-1727017425.png");
  background-size: cover; /* Ensures the image covers the full width */
  background-position: center; /* Center the image by default */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  /* padding: 10em; */
}

/*  */

#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  /* text-align: center; */
  /* margin: 0 auto; */
  /* direction: rtl; TODO: */
}

/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
